body {
        background-color: khaki;
        color: #17230b;
      }
      h1 {
        font-size: 40px;
        text-align: center;
      }
      p {
        font-size: 24px;
      }
      h2 {
        color: darkmagenta;
        font-style: italic;
      }